{% extends "base.html" %}
{% block title %}Home{% endblock title %}
{% block content %}


    {% for edit in editpat %}
     <form  method="POST">
        <div class="row">
             <div class="col-lg-8">
                    <div class="card shadow mb-4">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
<!--                                    <thead>-->
<!--                                        <tr>-->
<!--                                            <th>Name</th>-->
<!--                                            <th>Position</th>-->

<!--                                        </tr>-->
<!--                                    </thead>-->

                                    <tbody>
                                        <tr>
                                            <td>Name:</td>
                                           <td> <input type="text" name="name"  class="form-control" value={{edit.Name}}></td>
<!--                                            <td>{{ edit.name }}</td>-->
                                        </tr>
                                         <tr>
                                            <td>Surname:</td>
                                           <td> <input type="text" name="surname"  class="form-control" value={{edit.Surname}}></td>
<!--                                            <td>{{ edit.name }}</td>-->
                                        </tr>
                                        <tr>
                                            <td>E-Mail:</td>
                                             <td><input type="email" name="E_Mail" class="form-control" value="{{edit.E_Mail}}"></td>
<!--                                            <td>{{ edit.E_Mail }}</td>-->
                                        </tr>
                                        <tr>
                                            <td>Date of birth:</td>
                                             <td><input type="text" name="Birthdate" class="form-control" value="{{edit.Birthdate}}"></td>
<!--                                            <td>{{ edit.E_Mail }}</td>-->
                                        </tr>
                                        <tr>
                                            <td>Phone Number:</td>
                                             <td><input type="text" name="phonenumber" class="form-control" value="{{edit.Phone_Number}}"></td>
<!--                                            <td>{{ edit.E_Mail }}</td>-->
                                        </tr>
                                         <tr>
                                            <td>Address:</td>
                                             <td><input type="text" name="address" class="form-control" value="{{edit.Address}}"></td>
<!--                                            <td>{{ edit.E_Mail }}</td>-->
                                        </tr>
                                  <tr>
                                            <td>City:</td>
                                             <td><input type="text" name="city" class="form-control" value="{{edit.City}}"></td>
<!--                                            <td>{{ edit.E_Mail }}</td>-->
                                        </tr>
<!--                                     <tr>-->
<!--                                            <td>State:</td>-->
<!--                                             <td><input type="text" name="state" class="form-control" value="{{edit.State}}"></td>-->
<!--&lt;!&ndash;                                            <td>{{ edit.E_Mail }}</td>&ndash;&gt;-->
<!--                                        </tr>-->
                                    </tbody>
                                </table>
<!--                                <button type="submit" class="btn btn-success">HOME</button>-->
                                <button type="submit" class="btn btn-success" value="submit">Update </button>
                            </div>
                        </div>
                    </div>
                </div>
          </div>
      </form>
   {%endfor%}
{% endblock content %}