{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}

<!-- Page Heading -->
<h1 class="h3 mb-4 text-gray-800">User Profile</h1>

<div class="row">
  <div class="col-lg-8">
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">
          {{ patient.Name }} {{ patient.Surname }} - {{ patient.Birthdate }} -
          ID: {{ patient.Patient_ID }}
        </h6>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table
            class="table table-bordered"
            id="dataTable"
            width="100%"
            cellspacing="0"
          >
            <thead>
              <tr>
                <th>Name</th>
                <th>Position</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td>First name:</td>
                <td>{{ patient.Name }}</td>
              </tr>
              <tr>
                <td>Last name:</td>
                <td>{{ patient.Surname }}</td>
              </tr>
              <tr>
                <td>Date of birth:</td>
                <td>{{ patient.Birthdate }}</td>
              </tr>
              <tr>
                <td>E-Mail:</td>
                <td>{{ patient.E_Mail }}</td>
              </tr>
              <tr>
                <td>Phone Number:</td>
                <td>{{ patient.Phone_Number }}</td>
              </tr>
              <tr>
                <td>Address:</td>
                <td>{{ patient.Address }}</td>
              </tr>
              <tr>
                <td>City:</td>
                <td>{{ patient.City }}</td>
              </tr>


              <a class="button" href="/editpatientdetail/{{patient.Patient_ID}}">Edit</a>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
    </div>
  </div>
</div>

{% endblock %}
