{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}

                    <!-- Page Heading -->
                    <h1 class="h3 mb-4 text-gray-800">User Profile</h1>

        <div class="row">
             <div class="col-lg-8">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Name Surname - Age</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Position</th>

                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr>
                                            <td>E-Mail:</td>
                                            <td>e-mail@google.com</td>
                                        </tr>
                                        <tr>
                                            <td>Phone Number:</td>
                                            <td>+49 151239283</td>
                                        </tr>
                                        <tr>
                                            <td>ID Number:</td>
                                            <td>1283128</td>
                                        </tr>

                                        <tr>
                                            <td>Address:</td>
                                            <td>1283128</td>
                                        </tr>
                                        <tr>
                                            <td>City:</td>
                                            <td>1283128</td>
                                        </tr>
                                        <tr>
                                            <td>Country:</td>
                                            <td>1283128</td>
                                       </tr>
                                        <tr>
                                            <td>ZIP Code:</td>
                                            <td>1283128</td>
                                        </tr>


                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3">
<!-- User Picture-->

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Patient Picture</h6>
    </div>

    <div class="card-body">
        <div class="text-center">
            <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;"
                src="img/undraw_posting_photo.svg" alt="...">
        </div>



    </div>
</div>

<hr>

<!-- Invoices-->

<div class="card shadow mb-6">
    <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
            <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                        Last Visit</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">01.01.2022</div>
                </div>
                <div class="col-auto">
                    <i class="fas fa-calendar fa-2x text-gray-300"></i>
                </div>
            </div>
        </div>
    </div>
</div>

                </div>
             </div>

{% endblock %}