{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}

                    <!-- Page Heading -->
                    <h1 class="h3 mb-4 text-gray-800">Staff Profile</h1>

        <div class="row">
             <div class="col-lg-8">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">{{ staff.Name }} {{ staff.Surname }} </h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Position</th>

                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr>
                                            <td>E-Mail:</td>
                                            <td>{{ staff.EMail }}</td>
                                        </tr>
                                     <tr>
                                            <td>Specification</td>
                                            <td>{{ staff.Specification.Title }}</td>
                                     </tr>




                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                
             </div>

{% endblock %}